{
    "presets": [
      ["@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      "@babel/preset-react"
    ],
    
    "plugins": [ "add-react-displayname",
      "react-hot-loader/babel"
    ]
}